@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Roboto&display=swap');
*{
    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin-left: 20px;
}
.price{
    margin-left: 20px;
}
.rating{
    margin-left: 20px;
}
.description{
    margin-left: 20px;
}
.buy-now{
    margin-left: 20px;
}
.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.price-value{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff0000;
}
button{
    background-color: rgb(0, 106, 255);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 146, 15);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.Comments{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 10px;
    font-size: 28px;
}
.comment-input{
    width: 80%;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 10px;
    padding: 10px;
}
.comment-button{
    width: 70%;
    height: 30px;
    margin: 5px;
    padding: 5px;
}
.col-md-4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.row{
    margin: 50px;
}